/* Removed content from Blazor Server template in lieu of MudBlazor */

.bi {
    margin-left: 0.35rem;
}

.mud-table-custom:hover {
    cursor: pointer;
}

.mud-textfield-default {
    margin: 3px;
}

.mud-button-default {
    margin: 3px;
}

.topbar-profile-image {
    width: 32px;
    height: 32px;
}

.result-message {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.dialog-background {
    backdrop-filter: blur(5px);
}

.columns-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* ratio */
    gap: 1rem;
}

.left-column {
    grid-column: 1 / 2;
}

.right-column {
    grid-column: 2 / 3;
}

.checked-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

#md-help h1 {
    color: #555555;
    margin-top: 10px;
}

#md-help h2 {
    color: #AAAAAA;
    margin-top: 10px;
}

#md-help ol {
    padding-left: 20px;
}

#md-help ul {
    list-style-type: disc;
    padding-left: 20px;
    padding-bottom: 10px;
}

#md-help pre {
    padding-top:10px;
    padding-left: 20px;
    padding-bottom: 10px;
    white-space: pre-wrap;
}

#md-help table {
    border-collapse: collapse;
}

#md-help th, #md-help td {
    border: 1px solid #ddd;
    padding: 8px;
}

#md-help th {
    background-color: #f2f2f2;
    text-align: left;
}

#md-help p {
    padding-top: 2px;
    padding-bottom: 1px;
}

#md-help a {
    color: #4E0B22;
    text-decoration: underline;
}

#md-help {
    padding-bottom: 20px;
}